intern_notes.aux
intern_notes.fdb_latexmk
intern_notes.fls
intern_notes.log
intern_notes.out
intern_notes.synctex.gz
lecturenotes/prob_y2.pdf
lecturenotes/RW_2019.pdf
lecturenotes/RW.pdf
lecturenotes/stats_y1.pdf
